html {
    height: 300px;
}
body {
    padding: 0px;
    margin: 0px;
    background: #fff;
    height: 300px;
}
#plugin_name {
    width: 330px;
    margin: 0 0;
    background-color: #195975;
}
h1 {
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
.rounded-circle {
    background: #58bc8a;
    width: 10rem;
    height: 10rem;
    padding: 10px;
    clear: both;
    align-content: center;
    margin: 0 auto; 

}
#site_score{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
    top: 35px;
    margin-left: 3px;
    text-align: center;
    font-size: 50px;
}
#site_msg{
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 15px;
}